.grid_2_items {
    display: flex;
    gap: 15px;
}

.img-product {
    width: 70%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 500px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    height: 50px;
    padding: 15px;
    text-align: left;
}

table {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 50%;
}

.tran {
    width: 100%;
    height: 250px;
}

.price h1 {
    margin: 0px 10% 0 10%;
    font-size: 30px;
}


.grid_3_items {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.icons {
    width: 13%;
}

.cicrle-ava {
    border-radius: 50%;
    grid-area: img;
    width: 40%;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:15px;
}

hr {
    border: 1.5px solid black;
}

.nav {
    overflow: hidden;
    background-color: black;
    top: 0;
    width: 100%;
    z-index: 100;
}

.flex {
    display: flex;
    justify-content: space-around;
}

    .nav a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 20px 16px 20px;
        text-decoration: none;
        font-size: 17px;
        align-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

        .nav a:hover {
            background: #00f9e8;
            color: black;
        }

    .nav img {
        width: 10%;
        float: left;
        padding: 0.7%;
    }

.button {
    background-color: #00f9e8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



.footer_col {
    align-content:center;
    justify-content:center;
    display:flex;
    grid-gap: 3%;
}

.footer_col a:link {
    text-decoration: none;
    color:white;
}

.footer_col a:visited {
    text-decoration: none;
    color:white;
}

.footer_col a:hover {
    text-decoration: none;
    color: #00f9e8;
}

.footer_col a:active {
    text-decoration: none;
}


ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 5px; /* Remove padding */
    margin: 5px; /* Remove margins */
   
}

ul li {
    padding-top: 15%;
}


.flex_horizone {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #007674;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

.login-header {
    background-color: black;
    justify-content:center;
    align-content:center;
}


.banner {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

* {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 30px;
    height: auto;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container_aboutus{
      padding-left: 15%;
      padding-right: 15%;
      padding-bottom: 15%;
  }

  .ava_picture{
    max-width:100%; height:auto; display:block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.container {
    padding: 10px;
  }

  @media screen and (max-width: 1000px) {
    .column {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  .fa-facebook-official{
    font-size:20px; color:#3B5998; text-decoration: none;
  }

  .fa-google-plus{
    font-size:20px; color:#dd4b39; margin-left: 3%; text-decoration: none;
  }

  main{
      padding-top: 15%;
      padding-bottom: 15%;
      background-color: #f4f4ff;
  }

  .aside_contact{
        margin-left: 5%;
        width: 40%;
        height:inherit;
        border: 3px solid violet ;
        background-color: white;
        overflow-wrap: break-word;
  }
  
  .container_contact{
      display: flex;
      padding-top: 3%;
      padding-bottom: 5%;
  }

    .form_contact{
        text-align: center;
        border: 3px solid violet ;
        margin-right: 5%;
  }